streamlit
langchain
langchain-community
langchain-google-genai
langchain-huggingface
google-genai

fastapi
uvicorn[standard]
python-multipart

faiss-cpu
sentence-transformers
transformers
torch

easyocr
opencv-python-headless
pymupdf
pypdf
pillow

python-docx
python-pptx
docx2txt

pandas
numpy
rank-bm25
beautifulsoup4
python-dotenv